extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 JON-MICHAEL GELUA

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Self taught
            | Teamtreehouse Student
            | Most def
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Node.js
          li Express
          li Graphic Design
          li Discord

        h6 Contact Info

        ul
          li 647-905-1667
          li geluajm@email.com

        a.button.expanded(href='https://linkedin.com/in/jmgelua' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/jmski' target='_blank') GitHub
        a.button.expanded(href='https://teamtreehouse.com/jonmichaelgelua' target='_blank') TeamTreehouse
        a.button.expanded(href='https://www.youtube.com/channel/UCkZ9kwK7P9Qr7BYXiqWbEnQ' target='_blank') YouTube
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  