extends layout.pug

block content

  article.portfolio-intro
    .portfolio-banner
      img.thumbnail(src='/static/images/banner_main.png', alt='picture of jmg')
    br
    h1 Project Gallery
    p Recent projects created in the last 12 months
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects  
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.images_thumbnail}`, alt= `Thumbnail of ${project.project_name} Project`)
            h5= project.project_name

