extends layout.pug

block content
    .container 
        .errorPage  
            h1= err.message
            h2= err.status
            img.thumbnail(src='/static/images/404_error.png', alt='404 ERROR')
            p The page that you requested cannot be found. Please re-enter a valid path.
            pre= err.stack

            a.home(href=`/`) Go Back!
 

    