extends layout.pug

block content
	br
	h1.error-text-center=`${error.message}` 
	img.error-img(src="/images/404_error.png") 
	br
	p.error-text-center Error details:
	h2.error-text-status=`Status: ${error.status}`